/* Write your CSS here */
.button {
  background-color: #382f5a;
  color: #d4d2db;
  height: 50px;
  width: 150px;
  margin: 10px;
  font-size: 15px;
  border-radius: 15px;
  border-color: #ffffff;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  outline: none;
  cursor: pointer;
}
